extends layout/_page-layout
block head
  title Gulp Project
block content
 h1 Welcome to your new Gulp Project
 p It's not pretty yet... but it works.
 p Make sure to rename project in the #[strong package.json] file, and configure the #[strong readme.md] to suit your project.

 h4 Other files
 a(href="testpage.html") HTML Test page

